!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      TicketTracker
    %p
      Status of your ticket was changed, just follow this link: #{@url}.
