!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      TicketTracker
    %p
      U have new comment to your ticket, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!