!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to TicketTracker
    %p
      To login to the site and look for progress with your problem, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!